<!DOCTYPE html>
<html lang="en">
    {% include 'templates/_head.html' %}
    <link rel="stylesheet" href="/styles/channel.css">
    <link rel="stylesheet" href="/styles/channelAbout.css">
    <link rel="stylesheet" href="/styles/channelSubs.css">
    <link rel="stylesheet" href="/styles/popup.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body data-barba="wrapper">
    <div class="popup-full">
        <canvas></canvas>
        <div id="popup" class="popup">
            <button class="popup__content">
                <div class="popup__close close-popup">X</div>
            </button>
            <div class="avatar-wrapper">
                <img class="avatar-for-channel-popup" src="/images/Avatar-for-channel.png"/>
                <div class="upload-button">
                    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                </div>
                <input class="file-upload" type="file" accept="image/*"/>
            </div>
            <div class="popup-des">
                <div class="popup-des-str">Описание:</div>
                <textarea class="textarea-des" maxlength="250">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, aperiam.</textarea>
            </div>
            <div class="popup-links">
                <div class="popup-des-str">Ссылки:</div>
                <div class="popup-des-links-list">
                    <ul class="ul-list-links">
                        <li><a href="https://www.youtube.com/123123" class="links-in-des">https://www.youtube.com/123123</a><button class="btn-edit-link"></button><button class="btn-delete-link">X</button></li>
                        <li><a href="https://www.youtube.com/123123" class="links-in-des">https://www.youtube.com/123123</a><button class="btn-edit-link"></button><button class="btn-delete-link">X</button></li>
                        <li><input class="input-link-add"></input><button class="btn-add-link">+</button></li>
                    </ul>
                </div>
            </div>
            <button class="btn-save">Сохранить</button>
        </div>
    </div>
    {% include 'templates/_header.html' %}
    {% include 'templates/_rightMenu.html' %}
    <div class="container">
        {% include 'templates/_leftMenu.html' %}
        <div class="shapka"></div>
        <div class="window-profile">
            <img class="avatar-for-channel" src="/images/Avatar-for-channel.png"/>
            <div class="channel-des">
                <img class="sub-icon" src="/images/dark-icon/menu/subscriptions.png"/>
                <div class="num-subs">22222223</div>
                <div class="subs"></div>
            </div>
            <button class="btn-channel">Изменить</button>
            <div class="des-channel">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda eligendi odio error iste consequuntur et!
            </div>
        </div>
    </div>
    <ul class="list-channel">
        <li class="list-channel-videos"><a href="/channel/videos">Видео</a></li>
        <li class="list-channel-subscriptions"><a href="/channel/subscriptions">Подписки</a></li>
        <li class="list-channel-about"><a href="/channel/about">Описание</a></li>
    </ul>
    <div class="lineChoiseChannel"></div>
    <div class="lineChannel"></div>
    <div data-barba="container" data-barba-namespace="home">
        <div class="videos-channel">
            <div class="video">
                <div class="preview">
                    <button class="btn-add-video">
                        <div class="plus">+</div>
                    </button>
                </div>  
                <div class="description-video">
                    <div class="avatar-and-name">
                        <div class="name-channel-stat">
                            <div class="str-add-video">Добавить видео</div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'templates/_videosChannel.html' %} 
            {% include 'templates/_videosChannel.html' %} 
            {% include 'templates/_videosChannel.html' %} 
        </div>
        <div class="videos-channel">
            {% include 'templates/_videosChannel.html' %} 
            {% include 'templates/_videosChannel.html' %} 
            {% include 'templates/_videosChannel.html' %}
            {% include 'templates/_videosChannel.html' %}  
        </div>
    </div>

    {% include 'templates/_scripts.html' %}
    <script src="/scripts/BurgerMenuChannel.js"></script>
    <script src="/scripts/Channel.js"></script>
    <script src="https://unpkg.com/@barba/core"></script>
    <script src="/scripts/Popup.js"></script>
</body>
</html>