<!DOCTYPE html>
<html lang="en">
    {% include 'templates/_head.html' %}
    <link rel="stylesheet" href="/styles/channel.css">
    <link rel="stylesheet" href="/styles/channelAbout.css">
    <link rel="stylesheet" href="/styles/channelSubs.css">
<body data-barba="wrapper">
    {% include 'templates/_header.html' %}
    {% include 'templates/_rightMenu.html' %}
    <div class="container">
        {% include 'templates/_leftMenu.html' %}
        <div class="shapka"></div>
        <div class="window-profile">
            <img class="avatar-for-channel" src="/images/Avatar-for-channel.png"/>
            <div class="channel-des">
                <img class="sub-icon" src="/images/dark-icon/menu/subscriptions.png"/>
                <div class="num-subs">22222223</div>
                <div class="subs"></div>
            </div>
            <button class="btn-channel">Изменить</button>
            <div class="des-channel">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda eligendi odio error iste consequuntur et!
            </div>
        </div>
    </div>
    <ul class="list-channel">
        <li class="list-channel-videos"><a href="/channel/videos">Видео</a></li>
        <li class="list-channel-subscriptions"><a href="/channel/subscriptions">Подписки</a></li>
        <li class="list-channel-about"><a href="/channel/about">Описание</a></li>
    </ul>
    <div class="lineChoiseChannel"></div>
    <div class="lineChannel"></div>
    <div data-barba="container" data-barba-namespace="home">
        <div class="users-channel-menu">
            {% include 'templates/_userChannelMenu.html' %}
            {% include 'templates/_userChannelMenu.html' %}
            {% include 'templates/_userChannelMenu.html' %}
            {% include 'templates/_userChannelMenu.html' %}
        </div>
    </div>
    {% include 'templates/_scripts.html' %}
    <script src="/scripts/BurgerMenuChannel.js"></script>
    <script src="/scripts/Channel.js"></script>
    <script src="https://unpkg.com/@barba/core"></script>
    <script>
        barba.init({

        })
    </script>
</body>
</html>