.start-page-theme-dark-left-menu-on {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header {
  background-color: rgba(217, 217, 217, 1);
  padding: 20px 45px 20px 25px;
  display: flex;
  align-items: center;
}
.frame-1 {
  width: 50px;
  height: 30px;
  margin-right: 15px;
}
.logotype {
  width: 120px;
  height: 90px;
  margin-right: 425px;
}
.input {
  background-color: var(--white);
  margin-right: 510px;
  border-radius: 20px;
  padding: 8.93px 15.65px 6.72px 29px;
  display: flex;
  align-items: flex-start;
}
.poisk {
  height: 44.35px;
  width: 455.94px;
  color: var(--black-3);
  display: flex;
  margin-right: 107.68px;
  font-family: var(--inter-32-regular-family);
  font-size: var(--inter-32-regular-size);
  font-weight: var(--inter-32-regular-weight);
  line-height: var(--inter-32-regular-line-height);
}
.lupav3-1 {
  width: 41.73px;
  height: 34.78px;
  margin-top: 4.11px;
}
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.flex-wrapper-two {
  display: flex;
  align-items: flex-start;
}
.levoe-menju {
  background-color: var(--white);
  margin-right: 47px;
  padding: 45px 0 71.13px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menju-svrhu-slevo {
  margin-bottom: 35px;
  margin-left: 38px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.btn-home {
  margin-bottom: 28px;
  position: relative;
}
.glavnaja-two {
  background-color: rgba(217, 217, 217, 1);
  border-radius: 30px;
  padding: 9px 43px 10px 25px;
  display: flex;
  align-items: flex-start;
  position: relative;
}
.logotype-two {
  width: 33.84px;
  height: 28.72px;
  margin-right: 14.16px;
}
.glavnaja {
  height: 30px;
  width: 114px;
  color: var(--black-3);
  display: flex;
  margin-top: 1px;
  font-family: var(--inter-28-regular-family);
  font-size: var(--inter-28-regular-size);
  font-weight: var(--inter-28-regular-weight);
  line-height: var(--inter-28-regular-line-height);
}
.logotype-three {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 43px;
  bottom: 10px;
}
.moj-profil-two {
  background-color: var(--white);
  border-radius: 30px;
  padding: 9px 8px 4px 35px;
  position: relative;
}
.moj-profil {
  height: 37px;
  width: 187px;
  color: var(--black-3);
  display: flex;
  font-family: var(--inter-28-regular-family);
  font-size: var(--inter-28-regular-size);
  font-weight: var(--inter-28-regular-weight);
  line-height: var(--inter-28-regular-line-height);
}
.num-1250689-2 {
  width: 22px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 13px;
}
.soobschenija-two {
  background-color: var(--white);
  margin-bottom: 14px;
  border-radius: 30px;
  padding: 7px 18px 8px;
  display: flex;
  align-items: center;
}
.message-1 {
  width: 27px;
  height: 24px;
  margin-right: 5px;
}
.soobschenija {
  height: 35px;
  width: 162px;
  color: var(--black-3);
  display: flex;
  font-family: var(--inter-28-regular-family);
  font-size: var(--inter-28-regular-size);
  font-weight: var(--inter-28-regular-weight);
  line-height: var(--inter-28-regular-line-height);
}
.istorija-prosmotrov-two {
  background-color: var(--white);
  border-radius: 50px;
  padding: 7px 14px;
  display: flex;
  align-items: flex-start;
}
.history-1 {
  width: 30px;
  height: 30px;
  margin-top: 22px;
  margin-right: 5px;
}
.istorija-prosmotrov {
  height: 66px;
  width: 167px;
  color: var(--black-3);
  display: flex;
  text-align: center;
  font-family: var(--inter-28-regular-family);
  font-size: var(--inter-28-regular-size);
  font-weight: var(--inter-28-regular-weight);
  line-height: var(--inter-28-regular-line-height);
}
.podpiski-two {
  margin-bottom: 7.9px;
  margin-left: 12px;
  display: flex;
  align-items: flex-start;
}
.subscriptions-1 {
  width: 25px;
  height: 25px;
  margin-top: 2px;
  margin-right: 9px;
}
.podpiski {
  height: 34.1px;
  width: 140px;
  color: var(--black-3);
  display: flex;
  font-family: var(--inter-28-regular-family);
  font-size: var(--inter-28-regular-size);
  font-weight: var(--inter-28-regular-weight);
  line-height: var(--inter-28-regular-line-height);
}
.line-2 {
  width: 300px;
  height: 2px;
  background-color: rgba(217, 217, 217, 1);
  margin-bottom: 6.67px;
}
.user-two {
  margin-left: 13px;
  display: flex;
  align-items: center;
}
.user-two:not(:last-of-type) {
  margin-bottom: 19.49px;
}
.bigpicture-ru-16451315703610-1024x768-19 {
  width: 65px;
  height: 58.46px;
  margin-right: 10px;
  border-radius: 50px;
}
.user {
  height: 19.49px;
  width: 190px;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: var(--black);
  display: flex;
}
.user-three {
  margin-bottom: 19.48px;
  margin-left: 13px;
  display: flex;
  align-items: center;
}
.flex-wrapper-three {
  margin-right: 30px;
  padding: 75px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.video {
  width: 360px;
  height: 250px;
  margin-bottom: 15px;
  border-radius: 22px;
}
.info-o-video {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.info-o-video:not(:last-of-type) {
  margin-bottom: 75px;
}
.flex-wrapper-seven {
  margin-bottom: 10.62px;
  display: flex;
  align-items: flex-start;
}
.bigpicture-ru-16451315703610-1024x768-19-two {
  width: 65px;
  height: 60px;
  margin-right: 9.45px;
  border-radius: 50px;
}
.flex-wrapper-nine {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.gotovlju-edu-vvvvvv {
  height: 40.26px;
  width: 285.55px;
  color: var(--black-3);
  display: flex;
  margin-bottom: 2.3px;
  font-family: var(--inter-28-regular-family);
  font-size: var(--inter-28-regular-size);
  font-weight: var(--inter-28-regular-weight);
  line-height: var(--inter-28-regular-line-height);
}
.super-food {
  height: 20.7px;
  width: 275.35px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: var(--black-3);
  display: flex;
}
.flex-wrapper-eight {
  padding: 0 0 0 74px;
  display: flex;
  align-items: flex-start;
}
.whathers-1 {
  width: 25px;
  height: 26.12px;
  margin-right: 10px;
}
.num-23-mln {
  height: 23.05px;
  width: 75px;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: var(--black-3);
  display: flex;
  margin-top: 1.05px;
  margin-right: 5px;
}
.point {
  height: 15.71px;
  width: 5px;
  color: var(--black-3);
  display: flex;
  align-items: center;
  margin-top: 6.33px;
  margin-right: 5px;
  font-family: var(--roboto-14-regular-family);
  font-size: var(--roboto-14-regular-size);
  font-weight: var(--roboto-14-regular-weight);
  line-height: var(--roboto-14-regular-line-height);
}
.num-20-12-23 {
  height: 24.15px;
  width: 94.84px;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: var(--black-3);
  display: flex;
  margin-top: 1.55px;
}
.video-two {
  width: 360px;
  height: 250px;
  background-color: rgba(217, 217, 217, 1);
  margin-bottom: 15px;
  border-radius: 22px;
}
.flex-wrapper-four {
  margin-right: 26px;
  padding: 75px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flex-wrapper-one {
  width: 360px;
  height: 250px;
  background: linear-gradient(
      rgba(217, 217, 217, 1),
      rgba(217, 217, 217, 1)
    ),
    rgba(0, 0, 0, 1);
  margin-bottom: 15px;
  border-radius: 22px;
}
.relative-wrapper-one {
  margin-bottom: 77px;
  margin-left: 83px;
  position: relative;
}
.video-three {
  width: 360px;
  height: 250px;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 22px;
  position: absolute;
  left: -83px;
  top: 75px;
}
.info-o-video-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: -83px;
  bottom: -2px;
}
.profile-menu {
  background-color: rgba(217, 217, 217, 1);
  border-radius: 30px;
  padding: 35px 28px 60px 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.moj-profil-four {
  margin-bottom: 15px;
  margin-left: 3px;
  display: flex;
  align-items: flex-start;
}
.num-1250689-1 {
  width: 28px;
  height: 28px;
  margin-top: 4px;
  margin-right: 13px;
}
.moj-profil-three {
  color: var(--black-3);
  font-family: var(--inter-32-regular-family);
  font-size: var(--inter-32-regular-size);
  font-weight: var(--inter-32-regular-weight);
  line-height: var(--inter-32-regular-line-height);
}
.jazyk {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.language-icon-151284-1 {
  width: 30px;
  height: 32px;
  margin-right: 13px;
}
.tema {
  margin-bottom: 15px;
  margin-left: 6px;
  display: flex;
  align-items: center;
}
.num-157089-1 {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}
.spravka-two {
  margin-bottom: 15px;
  margin-left: 6px;
  display: flex;
  align-items: flex-start;
}
.num-104615-1 {
  width: 28px;
  height: 28px;
  margin-top: 3px;
  margin-right: 6px;
}
.spravka {
  height: 38px;
  width: 152px;
  color: var(--black-3);
  display: flex;
  font-family: var(--inter-32-regular-family);
  font-size: var(--inter-32-regular-size);
  font-weight: var(--inter-32-regular-weight);
  line-height: var(--inter-32-regular-line-height);
}
.nastrojki {
  margin-bottom: 50px;
  margin-left: 6px;
  display: flex;
  align-items: center;
}
.num-109596-1 {
  width: 30px;
  height: 30px;
  margin-right: 6px;
}
.vyjti {
  margin-left: 10px;
  display: flex;
  align-items: flex-start;
}
.num-3596141-1 {
  width: 24px;
  height: 24px;
  margin-top: 9px;
  margin-right: 9px;
}