{% set title = 'Главная' %}
<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="styles/start.css">
    {% include 'templates/_head.html' %}
<body>
    {% include 'templates/_header.html' %}
    {% include 'templates/_rightMenu.html' %}
    <div class="container">
        {% include 'templates/_leftMenu.html' %}
        <div class="videos">
            <div class="row-videos">
                <div class="video">
                    <div class="preview"></div>
                    <div class="description-video">
                        <div class="avatar-and-name">
                            <a class="avatar-for-description"></a>
                            <div class="name-channel-stat">
                                <div class="name">СловоСловоСловоСловоСловоСловоСловоСловоСлово</div>
                                <a class="channel">КаналКаналКаналКаналКаналКаналКанал</a>
                                <div class="stat">
                                    <img class="views-icon" src="images/dark-icon/views.png">
                                    <div class="num">110</div>
                                    <div class="views"></div>
                                    <div>•</div>
                                    <div class="date">19/01/24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="video">
                    <div class="preview"></div>
                    <div class="description-video">
                        <div class="avatar-and-name">
                            <a class="avatar-for-description"></a>
                            <div class="name-channel-stat">
                                <div class="name">НазваниеdddddddНазваниеddddddddНазваниеddddddddНазваниеdddddddd</div>
                                <a class="channel">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, aut!</a>
                                <div class="stat">
                                    <img class="views-icon" src="images/dark-icon/views.png">
                                    <div class="num">1000</div>
                                    <div class="views"></div>
                                    <div>•</div>
                                    <div class="date">19/01/24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="video">
                    <div class="preview"></div>
                    <div class="description-video">
                        <div class="avatar-and-name">
                            <a class="avatar-for-description"></a>
                            <div class="name-channel-stat">
                                <div class="name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quasi.</div>
                                <a class="channel">Канал</a>
                                <div class="stat">
                                    <img class="views-icon" src="images/dark-icon/views.png">
                                    <div class="num">2300000</div>
                                    <div class="views"></div>
                                    <div>•</div>
                                    <div class="date">19/01/24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="video">
                    <div class="preview"></div>
                    <div class="description-video">
                        <div class="avatar-and-name">
                            <a class="avatar-for-description"></a>
                            <div class="name-channel-stat">
                                <div class="name">Loremipsumdolor.s</div>
                                <a class="channel">Канал</a>
                                <div class="stat">
                                    <img class="views-icon" src="images/dark-icon/views.png">
                                    <div class="num">23000000</div>
                                    <div class="views"></div>
                                    <div>•</div>
                                    <div class="date">19/01/24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-videos">
                <div class="video">
                    <div class="preview"></div>
                    <div class="description-video">
                        <div class="avatar-and-name">
                            <a class="avatar-for-description"></a>
                            <div class="name-channel-stat">
                                <div class="name">Название видео</div>
                                <a class="channel">Канал</a>
                                <div class="stat">
                                    <img class="views-icon" src="images/dark-icon/views.png">
                                    <div class="num">1000000</div>
                                    <div class="views"></div>
                                    <div>•</div>
                                    <div class="date">19/01/24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="video">
                    <div class="preview"></div>
                    <div class="description-video">
                        <div class="avatar-and-name">
                            <a class="avatar-for-description"></a>
                            <div class="name-channel-stat">
                                <div class="name">Название видео</div>
                                <a class="channel">Канал</a>
                                <div class="stat">
                                    <img class="views-icon" src="images/dark-icon/views.png">
                                    <div class="num">230000</div>
                                    <div class="views">тыс</div>
                                    <div>•</div>
                                    <div class="date">19/01/24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="video">
                    <div class="preview"></div>
                    <div class="description-video">
                        <div class="avatar-and-name">
                            <a class="avatar-for-description"></a>
                            <div class="name-channel-stat">
                                <div class="name">Название видео</div>
                                <a class="channel">Канал</a>
                                <div class="stat">
                                    <img class="views-icon" src="images/dark-icon/views.png">
                                    <div class="num">23000</div>
                                    <div class="views">тыс</div>
                                    <div>•</div>
                                    <div class="date">19/01/24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="video">
                    <div class="preview"></div>  
                    <div class="description-video">
                        <div class="avatar-and-name">
                            <a class="avatar-for-description"></a>
                            <div class="name-channel-stat">
                                <div class="name">Название видео</div>
                                <a class="channel">Канал</a>
                                <div class="stat">
                                    <img class="views-icon" src="images/dark-icon/views.png">
                                    <div class="num">1000000000</div>
                                    <div class="views"></div>
                                    <div>•</div>
                                    <div class="date">19/01/24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="row-videos">
                <div class="video">
                    <div class="preview"></div>
                    <div class="description-video">
                        <div class="avatar-and-name">
                            <a class="avatar-for-description"></a>
                            <div class="name-channel-stat">
                                <div class="name">Название видео</div>
                                <a class="channel">Канал</a>
                                <div class="stat">
                                    <img class="views-icon" src="images/dark-icon/views.png">
                                    <div class="num">230000000</div>
                                    <div class="views"></div>
                                    <div>•</div>
                                    <div class="date">19/01/24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="video">
                    <div class="preview"></div>
                    <div class="description-video">
                        <div class="avatar-and-name">
                            <a class="avatar-for-description"></a>
                            <div class="name-channel-stat">
                                <div class="name">Название видео</div>
                                <a class="channel">Канал</a>
                                <div class="stat">
                                    <img class="views-icon" src="images/dark-icon/views.png">
                                    <div class="num">1300000000</div>
                                    <div class="views"></div>
                                    <div>•</div>
                                    <div class="date">19/01/24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="video">
                    <div class="preview"></div>
                    <div class="description-video">
                        <div class="avatar-and-name">
                            <a class="avatar-for-description"></a>
                            <div class="name-channel-stat">
                                <div class="name">Название видео</div>
                                <a class="channel">Канал</a>
                                <div class="stat">
                                    <img class="views-icon" src="images/dark-icon/views.png">
                                    <div class="num">13000000000</div>
                                    <div class="views"></div>
                                    <div>•</div>
                                    <div class="date">19/01/24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="video">
                    <div class="preview"></div>  
                    <div class="description-video">
                        <div class="avatar-and-name">
                            <a class="avatar-for-description"></a>
                            <div class="name-channel-stat">
                                <div class="name">Название видео</div>
                                <a class="channel">Канал</a>
                                <div class="stat">
                                    <img class="views-icon" src="images/dark-icon/views.png">
                                    <div class="num">130000000000</div>
                                    <div class="views"></div>
                                    <div>•</div>
                                    <div class="date">19/01/24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="row-videos">
                <div class="video">
                    <div class="preview"></div>
                    <div class="description-video">
                        <div class="avatar-and-name">
                            <a class="avatar-for-description"></a>
                            <div class="name-channel-stat">
                                <div class="name">Название видео</div>
                                <a class="channel">Канал</a>
                                <div class="stat">
                                    <img class="views-icon" src="images/dark-icon/views.png">
                                    <div class="num">999999999</div>
                                    <div class="views"></div>
                                    <div>•</div>
                                    <div class="date">19/01/24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="video">
                    <div class="preview"></div>
                    <div class="description-video">
                        <div class="avatar-and-name">
                            <a class="avatar-for-description"></a>
                            <div class="name-channel-stat">
                                <div class="name">Название видео</div>
                                <a class="channel">Канал</a>
                                <div class="stat">
                                    <img class="views-icon" src="images/dark-icon/views.png">
                                    <div class="num">1000000000</div>
                                    <div class="views"></div>
                                    <div>•</div>
                                    <div class="date">19/01/24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="video">
                    <div class="preview"></div>
                    <div class="description-video">
                        <div class="avatar-and-name">
                            <a class="avatar-for-description"></a>
                            <div class="name-channel-stat">
                                <div class="name">Название видео</div>
                                <a class="channel">Канал</a>
                                <div class="stat">
                                    <img class="views-icon" src="images/dark-icon/views.png">
                                    <div class="num">10000000000</div>
                                    <div class="views"></div>
                                    <div>•</div>
                                    <div class="date">19/01/24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="video">
                    <div class="preview"></div>  
                    <div class="description-video">
                        <div class="avatar-and-name">
                            <a class="avatar-for-description"></a>
                            <div class="name-channel-stat">
                                <div class="name">Название видео</div>
                                <a class="channel">Канал</a>
                                <div class="stat">
                                    <img class="views-icon" src="images/dark-icon/views.png">
                                    <div class="num">130000000000</div>
                                    <div class="views"></div>
                                    <div>•</div>
                                    <div class="date">19/01/24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>   
    </div> 
    {% include 'templates/_scripts.html' %}
    <script src="scripts/BodyOverflow.js" type="module"></script>
    <script src="scripts/BurgerMenu.js" type="module"></script>
    <script src="scripts/Theme.js" type="module"></script>
    <script src="scripts/Language.js" type="module"></script>
</body>
</html>