{% set title = 'Главная' %}
<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="styles/start.css">
    <link rel="stylesheet" href="styles/popupRequestLogin.css">
    {% include 'templates/_head.html' %}
<body>
    {% include 'templates/_headerNotAutorization.html' %}
    {% include 'templates/_rightMenuNotAutorization.html' %}
    {% include 'templates/_popup_request_login.html' %}
    <div class="container">
        {% include 'templates/_leftMenuNotAutorization.html' %}
        <div class="videos">
        </div>   
    </div> 
    {% include 'templates/_scripts.html' %}
    <script>
        const btnCancel = document.querySelector(".btnCancel")
        console.log(btnCancel);
        btnCancel.addEventListener('click', function() {
            Modal.style.display = "none";
        });
        Modal.addEventListener('click', function() {
            Modal.style.display = "none";
        });
        function OpenModel() {
            Modal.style.display = "flex";
        }
    </script>
    <script src="scripts/BodyOverflow.js"></script>
    <script src="scripts/BurgerMenu.js"></script>
    <script src="scripts/Theme.js"></script>
    <script src="scripts/Language.js"></script>
    <script src="scripts/GetVideos.js"></script>
</body>
</html>