<!DOCTYPE html>
<html lang="en">
    {% include 'templates/_head.html' %}
    <link rel="stylesheet" href="styles/result.css">
    <link rel="stylesheet" href="styles/ViewsHistory.css">
<body>
    {% include 'templates/_header.html' %}
    {% include 'templates/_rightMenu.html' %}
    <div class="container">
        {% include 'templates/_leftMenu.html' %}
        <div class="result-list">
            <div class="video">
                <div class="preview"></div>  
                <div class="description-video">
                    <div class="name">Название видео</div>
                    <div class="avatar-and-name">
                        <a class="avatar-for-description"></a>
                        <div class="name-channel-stat">
                            <a class="channel">Канал</a>
                        </div>
                    </div>
                    <div class="stat">
                        <img class="views-icon" src="images/dark-icon/views.png">
                        <div class="num">130000000000</div>
                        <div class="views"></div>
                        <div>•</div>
                        <div class="date">19/01/24</div>
                    </div>
                </div>
            </div>
            <div class="video">
                <div class="preview"></div>  
                <div class="description-video">
                    <div class="name">Название видео</div>
                    <div class="avatar-and-name">
                        <a class="avatar-for-description"></a>
                        <div class="name-channel-stat">
                            <a class="channel">Канал</a>
                        </div>
                    </div>
                    <div class="stat">
                        <img class="views-icon" src="images/dark-icon/views.png">
                        <div class="num">130000000000</div>
                        <div class="views"></div>
                        <div>•</div>
                        <div class="date">19/01/24</div>
                    </div>
                </div>
            </div>
            <div class="video">
                <div class="preview"></div>  
                <div class="description-video">
                    <div class="name">Название видео</div>
                    <div class="avatar-and-name">
                        <a class="avatar-for-description"></a>
                        <div class="name-channel-stat">
                            <a class="channel">Канал</a>
                        </div>
                    </div>
                    <div class="stat">
                        <img class="views-icon" src="images/dark-icon/views.png">
                        <div class="num">130000000000</div>
                        <div class="views"></div>
                        <div>•</div>
                        <div class="date">19/01/24</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Hisory-Input">
            <input class="input-search-history" placeholder="Поиск..."/>
            <img src="images/dark-icon/lupa.png">
            <button class="btn-clear-history">
                История просмотров
            </button>
        </div>
    </div>
    {% include 'templates/_scripts.html' %}
    <script src="scripts/BodyOverflowResult.js"></script>
    <script src="scripts/SubsText.js"></script>
    <script src="scripts/ParseNumberSubs.js"></script>
    <script src="scripts/BurgerMenuResult.js"></script>
    <script src="scripts/ThemeResult.js"></script>
    <script src="scripts/LanguageResult.js"></script>
    <script src="scripts/Tyk.js"></script>
</body>
</html>