<!DOCTYPE html>
<html lang="en">
    {% include 'templates/_head.html' %}
    <link rel="stylesheet" href="styles/videoplayer.css">
    <link rel="stylesheet" href="styles/watch.css">
<body>
    {% include 'templates/_header.html' %}
    {% include 'templates/_rightMenu.html' %}
    <div class="container">
        {% include 'templates/_leftMenu.html' %}
        <div class="Shadow-for-leftMenu"></div>
        <div class="video-block">
            <div class="videoplayer">
                <video class="video-in-player" autoplay poster="videos/posters/example1.jpg">
                    <source src="videos/example2.mkv">
                </video>
                <div class="videoplayer-panel">
                    <div class="progressAreaTime"></div>
                    <div class="controls">
                        <input type="range" min="0" max="100" class="progress-bar"></input>
                            <span></span>
                    </div>
                    <div class="controls-list">
                        <img class="pause-icon" src="images/light-icon/videoplayer/pause-icon.png"></img>
                        <img class="stop-icon" src="images/light-icon/videoplayer/stop-icon.png"></img>
                        <img class="sound-lvl-icon" src="images/light-icon/videoplayer/sound-lvl3-icon.png"></img>
                        <input type="range" min="0" max="100" class="volume_range">
                        <div class="timer">
                            <span class="current">00:00</span> / <span class="duration">00:00</span>
                        </div>
                        <img class="high-screen-icon" src="images/light-icon/videoplayer/wide-screen-icon.png"></img>
                        <img class="settings-videoplayer-icon" src="images/light-icon/videoplayer/settings-videoplayer-icon.png"></img>
                        <img class="fullscreen-icon" src="images/light-icon/videoplayer/fullscreen-icon.png"></img>
                    </div>
                </div>
                <!-- <div class="playback-settings">
                    <span>Playback Speed</span>
                    <ul>
                        <li>0.25x</li>
                        <li>0.5x</li>
                        <li>0.75x</li>
                        <li>1x</li>
                        <li>1.25x</li>
                        <li>1.5x</li>
                        <li>2x</li>
                    </ul>
                </div> -->
            </div>
            <div class="video-name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, asperiores.</div>
            <div class="video-block-btns">
                <div class="video-block-channel">
                    <img src="images/Avatar.png"/>
                    <div class="name-sub">
                        <div class="video-block-channel-name">User</div>
                        <div class="video-block-channel-des">
                            <img class="sub-icon" src="images/dark-icon/menu/subscriptions.png"/>
                            <div class="num-subs">2222</div>
                            <div class="subs"></div>
                        </div>
                    </div>
                </div>
                <button class="subscribe-btn">Подписаться</button>
                <button class="repost"></button>
                <button class="like"></button>
                <div class="num-like">999</div>
                <div class="likes"></div>
                <button class="dislike"></button>
                <div class="num-dislike">999</div>
                <div class="dislikes"></div>
            </div>
            <div class="description-entry">
                <div class="description-entry-stat">
                    <img class="views-icon" src="images/dark-icon/views.png">
                    <div class="num">130000000000</div>
                    <div class="views"></div>
                    <div>•</div>
                    <div class="date">19/01/24</div>
                </div>
                <div class="description-entry-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non aliquam sapiente, consectetur dolor atque quos rem molestias magni explicabo ipsum quibusdam minus laboriosam nam aliquid, maxime id? Quis, molestiae accusantium.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nesciunt quam voluptatibus odit officiis inventore laborum iste enim velit. Commodi adipisci voluptate cum reprehenderit quas aspernatur alias quis illo magni.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex possimus voluptate omnis temporibus excepturi exercitationem dolor et tempore, magni, debitis corrupti quibusdam est neque distinctio? Nostrum saepe cum accusantium vel?
                </div>
                <div style="height: 5px"></div>
            </div>
            <div class="comment-block">
                <div class="num-comment">65</div>
                <div class="str-comment">Комментарии</div>
                <button class="sort-comment-btn">
                    <img src="images/dark-icon/videoplayer/comment-icon.png" class="comment-icon"></img>
                    <div class="sort-by-str-watch">Упорядочить</div>
                </button>
            </div>
            <div class="comment-entry">
                <img src="images/Avatar.png" class="comment-avatar"/>
                <textarea class="comment-text" cols="90" rows="1" placeholder="Введите Комментарий"></textarea>
            </div>
            <button class="btn-cancel">Отмена</button>
            <button type="submit" class="btn-submit" disabled>Отправить</button>
            {% include 'templates/_comment.html' %}
            {% include 'templates/_comment.html' %}
            {% include 'templates/_comment.html' %}
            {% include 'templates/_comment.html' %}
            {% include 'templates/_comment.html' %}
            {% include 'templates/_comment.html' %}
            {% include 'templates/_comment.html' %}
            {% include 'templates/_comment.html' %}
        </div>
        <div class="recommendation">
            {% include 'templates/_videosWatch.html' %}
            {% include 'templates/_videosWatch.html' %}
            {% include 'templates/_videosWatch.html' %}
            {% include 'templates/_videosWatch.html' %}
            {% include 'templates/_videosWatch.html' %}
            {% include 'templates/_videosWatch.html' %}
            {% include 'templates/_videosWatch.html' %}
            {% include 'templates/_videosWatch.html' %}
            {% include 'templates/_videosWatch.html' %}
            {% include 'templates/_videosWatch.html' %}
            {% include 'templates/_videosWatch.html' %}
            {% include 'templates/_videosWatch.html' %}
        </div>
    </div>
    {% include 'templates/_scripts.html' %}
    <script src="scripts/Videoplayer.js"></script>
    <script src="scripts/SubsText.js"></script>
    <script src="scripts/ParseNumberSubs.js"></script>
    <script src="scripts/ThemeWatch.js"></script>
    <script src="scripts/LanguageWatch.js"></script>
    <script src="scripts/BurgerMenuWatch.js"></script>
    <script src="scripts/WriteCommentFunc.js"></script>
    <script src="scripts/VideoPlayerButtons.js"></script>
    <script src="scripts/ParseLikesDislikes.js"></script>
    <script src="scripts/CountLikeDislike.js"></script>
</body>
</html>