<!DOCTYPE html>
<html lang="en">
    {% include 'templates/_head.html' %}
    <link rel="stylesheet" href="styles/videoplayer.css">
    <link rel="stylesheet" href="styles/watch.css">
    <link rel="stylesheet" href="styles/popupRequestLogin.css">
<body>
    {% include 'templates/_header.html' %}
    {% include 'templates/_rightMenu.html' %}
    {% include 'templates/_popup_request_login.html' %}
    <div class="container">
        {% include 'templates/_leftMenu.html' %}
        <div class="Shadow-for-leftMenu"></div>
        <div class="video-block">
            <div class="videoplayer">
                <video class="video-in-player" autoplay poster="">
                    <source src="">
                </video>
                <div class="videoplayer-panel">
                    <div class="progressAreaTime"></div>
                    <div class="controls">
                        <input type="range" min="0" max="100" class="progress-bar"></input>
                            <span></span>
                    </div>
                    <div class="controls-list">
                        <img class="pause-icon" src="images/light-icon/videoplayer/pause-icon.png"></img>
                        <img class="stop-icon" src="images/light-icon/videoplayer/stop-icon.png"></img>
                        <img class="sound-lvl-icon" src="images/light-icon/videoplayer/sound-lvl3-icon.png"></img>
                        <input type="range" min="0" max="100" class="volume_range">
                        <div class="timer">
                            <span class="current">00:00</span> / <span class="duration">00:00</span>
                        </div>
                        <img class="high-screen-icon" src="images/light-icon/videoplayer/wide-screen-icon.png"></img>
                        <img class="settings-videoplayer-icon" src="images/light-icon/videoplayer/settings-videoplayer-icon.png"></img>
                        <img class="fullscreen-icon" src="images/light-icon/videoplayer/fullscreen-icon.png"></img>
                    </div>
                </div>
            </div>
            <div class="video-name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, asperiores.</div>
            <div class="video-block-btns">
                <div class="video-block-channel">
                    <a href="link" id="AvatarWatchVideo"></a>
                    <div class="name-sub">
                        <div class="video-block-channel-name">User</div>
                        <div class="video-block-channel-des">
                            <img class="sub-icon" src="images/dark-icon/menu/subscriptions.png"/>
                            <div class="num-subs">2222</div>
                            <div class="subs"></div>
                        </div>
                    </div>
                </div>
                <button class="subscribe-btn">Подписаться</button>
                <button class="repost"></button>
                <button class="like"></button>
                <div class="num-like">1000000000</div>
                <div class="likes"></div>
                <button class="dislike"></button>
                <div class="num-dislike">999</div>
                <div class="dislikes"></div>
            </div>
            <div class="description-entry">
                <div class="description-entry-stat">
                    <img class="views-icon" src="images/dark-icon/views.png">
                    <div class="des-info">
                        <div class="num" id="num-watch-video"></div>
                        <div class="views"></div>
                        <div>•</div>
                        <div class="date" id="num-watch-date"></div>
                    </div>
                </div>
                <details class="description-entry-text">
                    <summary class="show-des">
                        Показать описание
                    </summary>
                </details>
                <div style="height: 5px"></div>
            </div>
            <div class="comment-block">
                <div class="num-comment">65</div>
                <div class="str-comment">Комментарии</div>
                <button class="sort-comment-btn">
                    <img src="images/dark-icon/videoplayer/comment-icon.png" class="sort-comment-icon"></img>
                    <div class="sort-by-str-watch">Упорядочить</div>
                </button>
            </div>
            <div class="sort-comment-block">
                <button class="btn-top-comment on">Сначала популярные</button>
                <button class="btn-new-comment">Сначала новые</button>
            </div>
            <div class="comment-entry">
                <img src="images/Avatar.png" class="comment-avatar"/>
                <textarea class="comment-text" cols="90" rows="1" placeholder="Введите Комментарий"></textarea>
            </div>
            <button class="btn-cancel">Отмена</button>
            <button type="submit" class="btn-submit" disabled>Отправить</button>
            {% include 'templates/_comment.html' %}
            {% include 'templates/_comment_no_answers.html' %}
            {% include 'templates/_comment_no_answers.html' %}
            {% include 'templates/_comment.html' %}
            {% include 'templates/_comment_no_answers.html' %}
            {% include 'templates/_comment.html' %}
            {% include 'templates/_comment_no_answers.html' %}
            {% include 'templates/_comment.html' %}
        </div>
        <div class="recommendation">
            {% include 'templates/_videosWatch.html' %}
            {% include 'templates/_videosWatch.html' %}
            {% include 'templates/_videosWatch.html' %}
            {% include 'templates/_videosWatch.html' %}
            {% include 'templates/_videosWatch.html' %}
            {% include 'templates/_videosWatch.html' %}
            {% include 'templates/_videosWatch.html' %}
            {% include 'templates/_videosWatch.html' %}
            {% include 'templates/_videosWatch.html' %}
            {% include 'templates/_videosWatch.html' %}
            {% include 'templates/_videosWatch.html' %}
            {% include 'templates/_videosWatch.html' %}
        </div>
    </div>
    {% include 'templates/_scripts.html' %}
    <script>
        const btnCancel = document.querySelector(".btnCancel")
        console.log(btnCancel);
        btnCancel.addEventListener('click', function() {
            Modal.style.display = "none";
        });
        Modal.addEventListener('click', function() {
            Modal.style.display = "none";
        });
        function OpenModel() {
            Modal.style.display = "flex";
        }
    </script>
    <script src="/scripts/ChekProfile.js"></script>
    <!-- <script src="/scripts/VerifyTokenStart.js"></script> -->
    <script src="scripts/ThemeWatch.js"></script>
    <script src="scripts/LanguageWatch.js"></script>
    <script src="scripts/Videoplayer.js"></script>
    <script src="scripts/SubsText.js"></script>
    <script src="scripts/ParseNumberSubs.js"></script>
    <script src="scripts/BurgerMenuWatch.js"></script>
    <script src="scripts/WriteCommentFunc.js"></script>
    <script src="scripts/VideoPlayerButtons.js"></script>
    <script src="scripts/ParseLikesDislikes.js"></script>
    <script src="scripts/CountLikeDislike.js"></script>
    <script src="scripts/GetWatchVideo.js"></script>
</body>
</html>