.users-channel-menu {
    margin-left: 350px;
    margin-top: 10px;
    display: flex;
    text-decoration: none;
}
.user-channel-menu {
    margin-left: 60px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.name-channel {
    font-size: 28px;
    text-align: center;
    text-decoration: none;
    color: black;
}
.subscriptions-avatar {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.SubsBlock {
    font-family: "Inter-Regular";
}