@font-face {
    font-family: Inter-Regular;
    src: url("fonts/Inter-Regular.otf");
}
* {
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    width: 0;
}
body::-webkit-scrollbar {
    width: 0;
}
body {
    margin: 0px;
}
.row-videos {
    margin-bottom: 22px;
}
.container {
    display: flex;
}
.video {
    text-decoration: none;
    color: black;
}
.preview {
    width: 360px;
    height: 250px;
    border-radius: 22px;
    background-color: rgb(79, 244, 215);
    margin-top: 75px;
    margin-left: 30px;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
}
.description-video {
    margin-top: 15px;
    margin-left: 30px;
    font-family: "Inter-Regular";
    height: 100px;
    cursor: pointer;
}
.avatar-and-name {
    display: flex;
    flex-direction: row;
}
.avatar-for-description {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.name-channel-stat {
    margin-left: 10px;
}
.name {
    font-size: 28px;
}
.channel {
    font-size: 16px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}
.stat {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-top: 10px;
    align-items: center;
}
.views-icon {
    margin-right: 5px;
}
.num {
    margin-right: 5px;
}
.views {
    margin-right: 5px;
}
.date {
    margin-left: 5px;
}
.videos {
    display: flex;
    flex-direction: column;
    margin-left: 317px;
    margin-top: 75px;
    overflow: hidden;
}
.row-videos {
    display: flex;
    flex-direction: row;
}
.imgPreview {
    width: 100%;
    height: 100%;
    border-radius: 22px;
    background: none;
    background-size: contain;
}