@font-face {
    font-family: Inter-Regular;
    src: url("fonts/Inter-Regular.otf");
}
body::-webkit-scrollbar {
    width: 0;
}
.container {
    display: flex;
}

.preview {
    width: 360px;
    height: 250px;
    border-radius: 22px;
    background-color: rgb(79, 244, 215);
    margin-top: 75px;
    margin-left: 30px;
    cursor: pointer;
}
.description-video {
    margin-top: 15px;
    margin-left: 30px;
    font-family: "Inter-Regular";
    height: 100px;
    cursor: pointer;
}
.avatar-and-name {
    display: flex;
    flex-direction: row;
}
.avatar-for-description {
    width: 65px;
    height: 65px;
    background: url('../images/Avatar-for-des.png') center no-repeat;
}
.name-channel-stat {
    margin-left: 10px;
}
.name {
    font-size: 28px;
}
.channel {
    font-size: 16px;
    margin-top: 10px;
}
.stat {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-top: 10px;
    align-items: center;
}
.views-icon {
    margin-right: 5px;
}
.num {
    margin-right: 5px;
}
.views {
    margin-right: 5px;
}
.date {
    margin-left: 5px;
}
.videos {
    display: flex;
    flex-direction: column;
    margin-left: 317px;
    margin-top: 75px;
    overflow: hidden;
}
.row-videos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}