video {
    object-fit: cover;
    border: none;
    outline: none;
    background: rgb(79, 244, 215);
}
video::cue {
    opacity: 0;
}

.videoplayer-panel {
    background: rgb(0 0 0 / 29%);
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    margin: -50px auto;
    position: relative;
    height: 45px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    visibility: hidden;
}
.videoplayer {
    width: 1100px;
}
.controls {
    display: flex;
}
.controls-list {
    display: flex;
    margin-top: 10px;
}
.video-in-player {
    width: 1100px;
    height: 600px;
    border-radius: 30px;
    margin-top: 130px;
}
.timer {
    color: white;
}
.progressAreaTime {
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    cursor: pointer;
}
.progress-bar {
   -webkit-appearance: none;
   background:-webkit-linear-gradient(left, rgb(79, 244, 215) 0%, rgb(79, 244, 215) 0%, #fff 0%, #fff 100%); 
   width: 100.1%; 
   height: 5px;
   cursor: pointer;
   margin-left: -1px;
   margin-right: -5px;
   margin-top: -3px;
   outline: none;
   border-radius: 30px;
}
.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: rgb(79, 244, 215);
    width: 15px;
    height: 15px;
    border-radius: 50%;
 }
 
.progress-bar::-moz-range-track {
    -moz-appearance: none;
    background:-moz-linear-gradient(left, rgb(79, 244, 215) 0%, rgb(79, 244, 215) 25%, #fff 25%, #fff 100%); 
    width: 100.1%; 
    height: 5px;
    cursor: pointer;
    margin-left: -1px;
    margin-right: -5px;
    margin-top: -3px;
    outline: none;
 }

.volume_range {
    -webkit-appearance: none;
    background:-webkit-linear-gradient(left, rgb(79, 244, 215) 0%, rgb(79, 244, 215) 0%, #fff 0%, #fff 100%); 
    width: 100.1%; 
    height: 5px;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
    margin-left: 10px; 
    cursor: pointer;
    border-radius: 30px;
 }
 .volume_range::-webkit-slider-thumb {
     -webkit-appearance: none;
     background-color: rgb(79, 244, 215);
     width: 10px;
     height: 10px;
     border-radius: 50%;
  }
 .volume_range::-moz-range-track {
     -moz-appearance: none;
     background:-moz-linear-gradient(left, rgb(79, 244, 215) 0%, rgb(79, 244, 215) 25%, #fff 25%, #fff 100%); 
     width: 100.1%; 
     height: 5px;
     cursor: pointer;
     margin-left: -1px;
     margin-right: -5px;
     margin-top: -3px;
     outline: none;
  }
 
.pause-icon {
    width: 25px;
    height: 25px;
    margin-left: 30px;
    cursor: pointer; 
}
.stop-icon {
    margin-left: 10px;
    cursor: pointer;
}
.sound-lvl-icon {
    margin-left: 10px; 
    cursor: pointer;
}
.timer {
    margin-left: 10px;
    margin-top: 3px; 
}
.high-screen-icon {
    margin-left: 640px;
    margin-top: 3px;
    cursor: pointer;
    height: 20px;
}
.settings-videoplayer-icon {
    margin-left: 10px;
    margin-top: 3px;
    cursor: pointer;
    height: 20px;
}
.fullscreen-icon {
    margin-left: 10px;
    margin-top: 1px;
    cursor: pointer;
}
.volume_range {
    width: 100px;
    cursor: pointer;
}