@font-face {
    font-family: Inter-Regular;
    src: url("fonts/Inter-Regular.otf");
}
/* * {
    font-family: "Inter-Regular";
} */
body {
    overflow: hidden;
    margin: 0px;
}
body::-webkit-scrollbar {
    width: 0; 
}
.DurationVideo {
    background-color: rgba(31, 28, 28, 0.7);
    width: 50px;
    height: 20px;
    position: relative;
    text-decoration: none;
    margin-top: 220px;
    padding-left: 5px;
    padding-top: 1px;
    margin-left: 290px;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    font-family: 'Inter-Regular';
}
.video-block {
    margin-left: 75px;
    font-family: "Inter-Regular";
    height: 935px;
    width: 1200px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.video-block::-webkit-scrollbar {
    width: 0; 
}
@-moz-document url-prefix() {
    .video-block {
        height: 915px;
    }
}
.video-name {
    margin: 15px;
    margin-top: 70px;
    font-size: 32px;
}
.video-block-btns {
    display: flex;
    margin-top: 20px;
}
.video-block-channel {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    cursor: pointer;
}
.video-block-channel-name {
    margin-top: 20px;
    font-size: 20px;
}
.video-block-channel-des {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    height: 25px;
    font-size: 28px;
}
.name-sub {
    margin-left: 5px;
}
.sub-icon {
    margin-right: 5px;
}
.subscribe-btn {
    width: 300px;
    height: 70px;
    border-radius: 12px;
    border-width: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 20px;
    border-color: rgb(79, 244, 215);
    background-color: rgb(255, 255, 255);
    font-size: 28px;
}   
.subscribe-btn:hover {
    background-color: rgba(79, 244, 215, 0.7);
    transition: 0.4s ease;
    border: none;
    transition-duration: 0.6s;
}
.dark4 {
    border: none;
}
.repost {
    background-image: url('../images/dark-icon/videoplayer/repost-icon.png');
    width: 65px;
    height: 65px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 30px;
    background-color: rgb(255, 255, 255);
}
.repost:hover {
    background-color: rgba(79, 244, 215, 0.7);
    transition: 0.4s ease;
    border: none;
    transition-duration: 0.6s;
}
.repost.dark {
    background-image: url('../images/light-icon/videoplayer/repost-icon.png');
    background-color: rgb(31, 28, 28); 
}
.repost.dark:hover {
    background-color: rgba(3, 3, 3, 0.7);
}
.like {
    background-image: url('../images/dark-icon/videoplayer/like-icon.png');
    width: 70px;
    height: 65px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 65px;
    background-color: rgb(255, 255, 255); 
}
.like:hover {
    background-color: rgba(79, 244, 215, 0.7);
    transition: 0.4s ease;
    border: none;
    transition-duration: 0.6s;
}
.like.dark {
    background-image: url('../images/light-icon/videoplayer/like-icon.png');
    background-color: rgb(31, 28, 28); 
}
.like.dark:hover {
    background-color: rgba(3, 3, 3, 0.7);
}

.dislike {
    background-image: url('../images/dark-icon/videoplayer/dislike-icon.png');
    width: 70px;
    height: 65px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 35px;
    background-color: rgb(255, 255, 255); 
}
.dislike:hover {
    background-color: rgba(79, 244, 215, 0.7);
    transition: 0.4s ease;
    border: none;
    transition-duration: 0.6s;
}
.dislike.dark {
    background-image: url('../images/light-icon/videoplayer/dislike-icon.png');
    background-color: rgb(31, 28, 28);  
}
.dislike.dark:hover {
    background-color: rgba(3, 3, 3, 0.7);
}
.num-like {
    font-size: 28px;
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 5px; 
}
.likes {
    font-size: 28px;
    margin-top: 25px; 
}
.num-dislike {
    font-size: 28px;
    margin-top: 25px;
    margin-left: 5px; 
    margin-right: 5px;
}
.dislikes {
    font-size: 28px; 
    margin-top: 25px; 
}
.description-entry {
    margin-top: 25px;
    background-color: rgb(79, 244, 215);
    width: 1100px;
    border-radius: 30px;
}
.description-entry-stat {
    display: flex;
    padding-top: 10px;
    margin-left: 20px;
}
.description-entry-text {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    overflow-wrap: break-word;
}

.left-menu {
    visibility: hidden;
}

.home-button {
    background-color: rgb(255, 255, 255);
}
.home-button.dark {
    background-color: rgb(31, 28, 28);
}
.home-button:hover {
    background-color: rgba(79, 244, 215, 0.7);
}
.home-button.dark:hover {
    background-color: rgba(3, 3, 3, 0.7);
}
.container {
    display: flex;
}
.recommendation {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    height: 835px;
    width: 750px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.recommendation::-webkit-scrollbar {
    width: 0; 
}
.video {
    display: flex;
    margin-top: 40px;
}

.preview {
    width: 360px;
    height: 250px;
    border-radius: 22px;
    background-color: rgb(79, 244, 215);
    background-size: cover;
    margin-left: 15px;
    cursor: pointer;
}
.description-video {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 15px;
    font-family: "Inter-Regular";
    cursor: pointer;
    width: 300px;
}
.avatar-and-name {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.avatar-for-description {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.name-channel-stat {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.name {
    font-size: 28px;
}
.channel {
    font-size: 16px;
    margin-top: 22px;
    text-decoration: none;
    color: #000;
}
.stat {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-top: 15px;
    align-items: center;
}
.views-icon {
    margin-right: 5px;
}
.num {
    margin-right: 5px;
}
.views {
    margin-right: 5px;
}
.date {
    margin-left: 5px;
}
.sort-comment-btn {
    display: flex;
    width: 310px;
    height: 44px;
    cursor: pointer;
    font-size: 32px;
    margin-left: 10px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    border: none;
    margin-top: 5px;
}
.sort-comment-btn:hover {
    background-color: rgba(79, 244, 215, 0.7);
    transition: 0.4s ease;
    border: none;
    transition-duration: 0.6s;
}
.sort-comment-btn.dark {
    background-color: rgb(31, 28, 28);
}
.sort-comment-btn.dark:hover {
    background-color: rgba(3, 3, 3, 0.7);
}

.comment-block {
    display: flex;
    margin-top: 25px;
}
.str-comment {
    font-size: 40px;
}
.num-comment {
    margin-right: 10px;
    font-size: 40px;
}
.sort-comment-icon {
    margin-top: 10px;
    margin-right: 10px;
    width: 90px;
    height: 23px;
}
.comment-text {
    resize: none;
    margin-top: 30px;
    font-size: 20px;
    height: 22px;
    border: none;
    width: 1000px;
}
.line-comment {
    height: 2px;
    width: 1000px;
    background-color: rgb(3, 3, 3);
}
.comment-entry {
    display: block;
    margin-top: 40px;
}
.comment-text {
    border: none;
	border-bottom: 1px solid #000;
    margin-left: 10px;
    overflow: auto;
    font-family: "Inter-Regular";
}
.comment-text:focus {
    outline: none;
    border-bottom: 2px solid #000;
}
.comment-text::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.btn-cancel {
    margin-top: 15px;
    margin-left: 750px;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    background-color: rgb(204, 204, 204);
    font-size: 24px;
}
.btn-cancel:hover{
    background-color: rgba(204, 204, 204, 0.7);
}
.btn-cancel.dark {
    background-color: rgb(255, 255, 255);
}
.btn-cancel.dark:hover{
    background-color: rgba(255, 255, 255, 0.7);
}
.btn-submit {
    margin-top: 15px;
    margin-left: 15px;
    width: 170px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    background-color: rgb(79, 244, 215);
    font-size: 24px;
}
.btn-submit:hover{
    background-color: rgba(79, 244, 215, 0.7);
}
.btn-submit.dark {
    background-color: rgb(3, 3, 3);
    color: #ffffff;
}
button.dark:disabled {
    background-color: light-dark(rgba(16, 16, 16, 0.7), rgba(236, 254, 254, 0.7));
    color: light-dark(rgba(239, 239 ,239, 0.3), rgba(0, 0, 0, 0.3));
    border-color: light-dark(rgba(137, 137, 137, 0.3), rgba(60, 60, 60, 0.3));
}
.btn-submit.dark:hover{
    background-color: rgba(3, 3, 3, 0.7);
}

.comment-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.comment-text-user {
    width: 1000px;
    margin-top: 5px;
    overflow-wrap: break-word;
}
.channel-name-comment {
    display: block;
    margin-left: 10px;
}
.comment-user-date {
    display: flex;
    margin-top: 10px;
}
.comment-block-user-name {
    margin-right: 5px;
}
.answer-text-user {
    width: 900px;
    overflow-wrap: break-word;
}
.answer-block {
    display: flex;
    margin-top: 15px;
    margin-left: 80px;
    height: auto;
}
.basic-comment {
    display: flex;
}
.answer-comment {
    margin-top: 15px;
    display: flex;
    font-family: "Inter-Regular";
}
.like-answer {
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    background-image: url('../images/dark-icon/videoplayer/comment-like-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}
.like-answer.dark {
    background-color: rgb(31, 28, 28);
    background-image: url('../images/light-icon/videoplayer/comment-like-icon.png');
}
.num-like-anwser {
    margin-left: 5px;
    margin-top: 5px;
}
.num-dislike-answer {
    margin-left: 5px;
    margin-top: 5px;
}
.dislike-answer {
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    background-image: url('../images/dark-icon/videoplayer/comment-dislike-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 12px;
}
.dislike-answer.dark {
    background-color: rgb(31, 28, 28);
    background-image: url('../images/light-icon/videoplayer/comment-dislike-icon.png');
}
.btn-answer {
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
    width: 100px;
    height: 25px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    background-color: #ffffff;
}
.btn-answer {
    list-style: none;
    text-align: center;
}
.btn-answer:hover {
    background-color: rgb(79, 244, 215);
    transition: 0.6s ease;
}
.btn-answer.dark {
    background-color: rgb(31, 28, 28);
}
.btn-answer.dark:hover {
    background-color: rgb(3, 3, 3);
    transition: 0.6s ease;
}
.btn-answers {
    margin-top: 15px;
    margin-left: 80px;
    padding-top: 10px;
    width: 130px;
    height: 30px;
    background-color: rgb(79, 244, 215);
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    list-style: none;
    display: flex;
}
.answers-summary-icon {
    width: 14px;
    height: 12px;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 5px;
}
.self-answer {
    width: 800px;
    display: block;
    margin-top: 15px;
}
.self-answer-entry {
    display: flex;
}

.btn-cancel-answer {
    margin-top: 10px;
    margin-left: 570px;
    width: 80px;
    height: 25px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    background-color: rgb(204, 204, 204);
    font-size: 16px;
}
.btn-submit-answer{
    margin-top: 10px;
    margin-left: 5px;
    width: 100px;
    height: 25px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    background-color: rgb(79, 244, 215);
    font-size: 16px;
}
.btn-cancel-answer:hover{
    background-color: rgba(204, 204, 204, 0.7);
}
.btn-cancel-answer.dark {
    background-color: rgb(255, 255, 255);
}
.btn-cancel-answer.dark:hover{
    background-color: rgba(255, 255, 255, 0.7);
}
.btn-submit-answer:hover{
    background-color: rgba(79, 244, 215, 0.7);
}
.btn-submit-answer.dark {
    background-color: rgb(3, 3, 3);
    color: #ffffff;
}
.btn-submit-answer.dark:hover{
    background-color: rgba(3, 3, 3, 0.7);
}

.comment-text-answer {
    border: none;
	border-bottom: 1px solid #000;
    margin-left: 10px;
    overflow: auto;
    font-size: 16px;
    height: 22px;
    resize: none;
    margin-top: 20px;
    font-family: "Inter-Regular";
}
.comment-text-answer:focus {
    outline: none;
    border-bottom: 2px solid #000;
}
.comment-text-answer::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.answer-avatar {
    margin-left: 80px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.answer-avatar-user {
    margin-left: 80px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.video-panel-on {
    border-width: 0px;
    background-color: rgb(79, 244, 215);
}
.video-panel-on.dark {
    color: #ffffff;
    background-color: rgb(3, 3, 3);
}
.video-panel-on.dark:hover {
    background-color: rgba(3, 3, 3, 0.5);
}
.preview {
    background-image: url('../videos/posters/example1.jpg');
    background-position: center;
}
.left-menu {
    background-color: #ffffff;
    z-index: 2;
}
.left-menu button {
    transition: 0.0s ease;
    transition-duration: 0.0s;
}
.Shadow-for-leftMenu {
    position: fixed;
    inset: 0;
    visibility: hidden;
    opacity: 0.5;
    background-color: black;
    inset: 0;
    z-index: 1;
    cursor: pointer;
}
.num-subs {
    margin-right: 5px;
    margin-top: -2px;
}
.subs {
    margin-top: -2px;
}
.sort-comment-block {
    height: 140px;
    width: 330px;
    background-color: rgb(79, 244, 215);
    border-radius: 30px;
    margin-bottom: -100px;
    margin-left: 330px;
    position: relative;
    z-index: 1;
    visibility: hidden;
}
.sort-comment-block.on {
    visibility: visible;
}
.sort-comment-block.dark {
    background-color: rgb(3, 3, 3);
}
.btn-new-comment,
.btn-top-comment {
    margin-top: 20px;
    margin-left: 15px;
    height: 40px;
    width: 300px;
    background-color: rgb(79, 244, 215);
    border-radius: 12px;
    border: none;
    font-size: 24px;
    text-align: left;
    cursor: pointer;
    /* transition: 0.3s ease;
    transition-duration: 0.6s; */
}
.btn-new-comment:hover,
.btn-top-comment:hover {
    background-color: rgb(255, 255, 255, 0.9);
}
.btn-new-comment.on,
.btn-top-comment.on {
    background-color: rgb(255, 255, 255);
}
.btn-top-comment:hover {
    background-color: rgb(255, 255, 255, 0.9);
}
.btn-top-comment.dark,
.btn-new-comment.dark {
    background-color: rgb(3, 3, 3);
    color: #ffffff;
}
.btn-new-comment.on.dark,
.btn-top-comment.on.dark {
    background-color: rgb(31, 28, 28);
}
.btn-new-comment.dark:hover,
.btn-top-comment.dark:hover {
    background-color: rgb(31, 28, 28, 0.9);
}
.sort-by-str-watch {
    font-size: 26px;
    margin-top: 5px;
}
.des-info {
    display: flex;
    margin-top: 3px;
}
.show-des {
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 15px;
}
#AvatarWatchVideo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.Delete-Comment {
    margin-left: 10px;
    border-radius: 15px;
    transition: 0.6s;
    transition-duration: 0.3s;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 16px;
    font-family: 'Inter-Regular';
}
.Delete-Comment:hover {
    background-color: rgba(79, 244, 215, 0.7);
}
.Delete-Comment.dark {
    background-color: rgb(31, 28, 28);
    color: #ffffff;
}
.Delete-Comment.dark:hover {
    background-color: rgba(3, 3, 3, 0.7);
}
.Answer-Comment {
    margin-left: 80px;
    margin-top: 5px;
    border-radius: 15px;
    transition: 0.6s;
    transition-duration: 0.3s;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 16px;
}
.Answer-Comment:hover {
    background-color: rgba(79, 244, 215, 0.7);
}
.Answer-Comment.dark {
    color: #ffffff;
    background-color: rgb(31, 28, 28);
}
.Answer-Comment.dark:hover {
    background-color: rgba(3, 3, 3, 0.7);
}

@-moz-document url-prefix() {
    .video-block {
        height: 915px;
    }
    .recommendation {
        height: 815px;
    }
}
