<div class="comment-entry">
    <img src="images/Avatar.png" class="comment-avatar"/>
    <div class="channel-name-comment">
        <div class="comment-user-date">
            <div class="comment-block-user-name">User</div>
            <div>•</div>
            <div class="date">19/01/24</div>
        </div>
        <div class="comment-text-user">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quis deserunt expedita dolore, ullam quam commodi sed deleniti quaerat nesciunt vero enim? Maiores pariatur illum asperiores aut. Nihil, distinctio pariatur?</div>
    </div>
</div>