<div class="comment-entry">
    <div class="basic-comment">
        <img src="images/Avatar.png" class="comment-avatar"/>
        <div class="channel-name-comment">
            <div class="comment-user-date">
                <div class="comment-block-user-name">User</div>
                <div>•</div>
                <div class="date">19/01/24</div>
            </div>
            <div class="comment-text-user">
            </div>
        </div>
    </div>
    <div class="answer-block">
        <button class="like-answer"></button>
        <div class="num-like-anwser">1</div>
        <div class="likes-answer"></div>
        <button class="dislike-answer"></button>
        <div class="num-dislike-answer">9</div>
        <div class="dislikes-answer"></div>
        <details>
            <summary class="btn-answer">
            Ответить
            </summary>
            <div class="self-answer">
                <div class="self-answer-entry">
                    <img src="images/Avatar-answer.png" class="answer-avatar"/>
                    <textarea class="comment-text-answer" cols="90" rows="1" placeholder="Введите Комментарий"></textarea>
                </div>
                <button class="btn-cancel-answer">Отмена</button>
                <button type="submit" class="btn-submit-answer" disabled>Ответить</button>
            </div>
        </details>
        <button class="Delete-Comment">Удалить</button>
    </div>
    <details>
        <summary class="btn-answers">
            <img src="images/dark-icon/videoplayer/answers-summary-logo.png" class="answers-summary-icon">
            Ответы
        </summary>
        <div class="answer-comment">
            <img src="images/Avatar-answer.png" class="answer-avatar"/>
            <div class="channel-name-comment">
                <div class="comment-user-date">
                    <div class="comment-block-user-name">User</div>
                    <div>•</div>
                    <div class="date">19/01/24</div>
                </div>
                <div class="answer-text-user">
                </div>
            </div>
        </div>
    </details>
</div>