<div class="left-menu">
    <button class="home-button">
        <div>Главная</div>
    </button>
    <button class="profile">
        <img class="profile-icon" src="/images/dark-icon/menu/profile.png"/>
        <div class="profile-str">Мой профиль</div>
    </button>
    <button class="messenger">
        <img class="message-icon" src="/images/dark-icon/menu/message.png"/>
        <div class="message-str">Сообщения</div>
    </button>
    <button class="history-views">
        <img class="history-views-icon" src="/images/dark-icon/menu/history.png"/>
        <div class="history-views-str">История просмотров</div>
    </button>
    <div class="sub">
        <img class="sub-icon" src="/images/dark-icon/menu/subscriptions.png" id="sub-icon-for-leftMenu"/>
        <div id="sub-str">Подписки</div>
    </div>
    <!-- <div class="line"></div> -->
    <div class="users">
        <div class="user">
            <img class="avatar-for-sub" src="/images/Avatar.png"/>
            <div class="name-channel">UserUserUs</div>
        </div>
        <div class="user">
            <img class="avatar-for-sub" src="/images/Avatar.png"/>
            <div class="name-channel">UserUserUserUser</div>
        </div>
        <div class="user">
            <img class="avatar-for-sub" src="/images/Avatar.png"/>
            <div class="name-channel">User</div>
        </div>
        <div class="user">
            <img class="avatar-for-sub" src="/images/Avatar.png"/>
            <div class="name-channel">User</div>
        </div>
        <div class="user">
            <img class="avatar-for-sub" src="/images/Avatar.png"/>
            <div class="name-channel">User</div>
        </div>
        <div class="user">
            <img class="avatar-for-sub" src="/images/Avatar.png"/>
            <div class="name-channel">User</div>
        </div>
        <div class="user">
            <img class="avatar-for-sub" src="/images/Avatar.png"/>
            <div class="name-channel">User</div>
        </div>
        <div class="user">
            <img class="avatar-for-sub" src="/images/Avatar.png"/>
            <div class="name-channel">User</div>
        </div>
        <div class="user">
            <img class="avatar-for-sub" src="/images/Avatar.png"/>
            <div class="name-channel">User</div>
        </div>
        <div class="line" id="line-for-leftMenu"></div>
        <div class="footer">© 2024 Venisimo</div>
        <div class="zagluhka-footer"></div>
    </div>
</div>