<div class="popup-full">
    <canvas></canvas>
    <form id="popup" class="popup">
        <button class="popup__content" type="button">
            <div class="popup__close close-popup">X</div>
        </button>
        <div class="avatar-wrapper">
            <img class="avatar-for-channel-popup" src="/images/Avatar-for-channel.png"/>
            <div class="upload-button">
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </div>
            <input class="file-upload" type="file" accept="image/*"/>
        </div>
        <div class="popup-name">
            <div>Никнейм:</div>
            <input class="input-name" maxlength="30"/>
        </div>
        <div class="popup-des">
            <div class="popup-des-str">Описание:</div>
            <textarea class="textarea-des" maxlength="250">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, aperiam.</textarea>
        </div>
        <div class="popup-links">
            <div class="popup-des-str">Ссылки:</div>
            <div class="popup-des-links-list">
                <ul class="ul-list-links">
                    <!-- <li><a href="https://www.youtube.com/123123" data-link-id="" class="links-in-des">https://www.youtube.com/123123</a><button class="btn-edit-link" type="button"></button><button class="btn-delete-link" type="button">X</button></li> -->
                </ul>
            </div>
        </div>
        <p class="ErrorMessageEditProfile"></p>
        <button class="btn-save">Сохранить</button>
    </form>
</div>