<div class="popup-add-video-full">
    <canvas></canvas>
    <form id="addVideo" class="popup">
        <button class="popup__content" type="button">
            <div class="popup-close-add-video">X</div>
        </button>
        <div class="upload-video">
            <button class="upload-video-button" type="button" onclick="document.getElementById('fileInputVideo').click()">Загруть видео</button>
            <input id="fileInputVideo" type="file" style="display: none;" accept="video/*">
            <div class="upload-video-container">
                <video class="upload-video-video" controls></video>
            </div>
        </div>
        <div class="upload-preview">
            <button class="upload-preview-button" type="button" onclick="document.getElementById('fileInputPreview').click()">Загруть превью</button>
            <input id="fileInputPreview" type="file" style="display: none;" accept="image/*">
            <img class="upload-preview-preview"></img>
        </div>
        <div class="popup-name">
            <div>Название:</div>
            <input class="input-name-video" maxlength="30"/>
        </div>
        <div class="popup-des">
            <div class="popup-des-str">Описание:</div>
            <textarea class="textarea-des-video"></textarea>
        </div>
        <p class="ErrorMessageUploadVideo"></p>
        <button class="btn-public">Опубликовать</button>
    </form>
</div>