<div class="shapka"></div>
<div class="window-profile">
    <img class="avatar-for-channel" src=""/>
    <div class="channel-des">
        <img class="sub-icon" src="/images/dark-icon/menu/subscriptions.png"/>
        <div class="num-subs" id="Num-Subs-des"></div>
        <div class="subs"></div>
    </div>
    <div class="user-name">Name</div>
    <button class="btn-channel">Подписаться</button>
    <div class="des-channel">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda eligendi odio error iste consequuntur et!
    </div>
</div>