<div class="right-menu">
    <button class="my-profile">
        <img id="profileIconRightMenu" src="images/dark-icon/menu/profile.png"></img>
        <div class="my-profile-str">Мой профиль</div>
    </button>
    <button class="language">
        <img id="languageIconRightMenu" src="images/dark-icon/menu/language.png"></img>
        <div class="language-str">Язык</div>
    </button>
    <button class="theme">
        <img id="themeIconRightMenu" src="images/dark-icon/menu/moon.png"></img>
        <div class="theme-str" >Тема</div>
    </button>
    <button class="documentation">
        <img id="documentationIconRightMenu" src="images/dark-icon/menu/documentation.png"></img>
        <div class="documentation-str" >Справка</div>
    </button>
    <button class="settings">
        <img id="settingsIconRightMenu" src="images/dark-icon/menu/settings.png"></img>
        <div class="settings-str" >Настройки</div>
    </button>
    <button class="exit">
        <img id="exitIconRightMenu" src="images/dark-icon/menu/log-out.png"></img>
        <div class="exit-str">Выйти</div>
    </button>
</div>