<div class="video">
    <div class="preview" data-path="" style="background-image: url('/videos/posters/example1.jpg')"></div>  
    <div class="description-video">
        <div class="avatar-and-name">
            <div class="name-channel-stat">
                <div class="name">Название видео</div>
                <div class="stat">
                    <img class="views-icon" src="/images/dark-icon/views.png">
                    <div class="num">130000000000</div>
                    <div class="views"></div>
                    <div>•</div>
                    <div class="date">19/01/24</div>
                </div>
            </div>
        </div>
    </div>
</div>