<div class="video">
    <div class="preview"></div>  
    <div class="description-video">
        <div class="name">Название видео</div>
        <div class="avatar-and-name">
            <a class="avatar-for-description"></a>
            <div class="name-channel-stat">
                <a class="channel">Канал</a>
            </div>
        </div>
        <div class="stat">
            <img class="views-icon" src="images/dark-icon/views.png">
            <div class="num">130000000000</div>
            <div class="views"></div>
            <div>•</div>
            <div class="date">19/01/24</div>
        </div>
    </div>
</div>